= link_to 'Sign in ', new_user_session_path
= link_to 'Sign up ', new_user_registration_path
= link_to 'Sign out ', destroy_user_session_path, method: :delete
p = link_to 'All questions', questions_path
h1 = @question.title
p = @question.body
- if user_signed_in? && @question.user_id == current_user.id
  = link_to 'Delete question', question_path(@question), method: :delete
p = link_to 'Edit', edit_question_path(@question)
p = link_to 'Add answer', new_question_answer_path(@question.id)
h1 All answers for this questions
- @question.answers.each do |answer|
  p = answer.body
  = link_to 'show this answer', answer_path(answer)